<script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" placeholder="Search" size="50" style="font-size: 16px;">
</script>


<div id="searchBoxParent"></div>
<div>
<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
    <ui-gmap-search-box template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>
    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
</ui-gmap-google-map>


<div class="contain">
  <!-- <input ng-model="searchAny" class="searchBox" placeholder="Search">
    <div ng-repeat="filter:searchAny">
    </div> -->
<!--   <div class="places"> -->
  <article class="place" ng-repeat="place in places"  data-id="{{place.id}}">
        <div class="individualPlaceList">
          <div class="imageTitleWrapper">
          <div class="placeContainer">
              <img ng-src="" alt="" />
            <div class="titleHeartWrapper">
              <a id ="placeTitle" class="individualPlace" href="#/places/{{place.id}}">{{place.name}}</a>
              <div class="addToFavorites" ng-model="place" ng-click="addToFavorites(place)" ng-controller="FavoritesController">Add to &#9825</div>
            </div>
          </div>
          </div>
        <div class="info">
          <div class="address">{{place.address}}</div><br>
          <div class="rating" ng-click="">&#10025 {{place.rating}}</div><br>
          <a href="#/places/{{place.id}}"><button class="details">Details</button></a>
        </div>
      </div>
      </div>
    </article>
  </div>
</div>
