<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">

    <div class="brandWrapper">
      <a class="navbar-brand" href="/#/"><img class="beerpin" src="Images/beer_pin.png" alt="">Bars and Stripes</a>
    </div>
  </div>
  <ul id="headerLinks" class="nav navbar-nav">
    <li><a href="/#/">Home</a></li>
    <li><a href="/#/posts">Reviews</a></li>
    <li><a href="/#/favorites">Favorites</a></li>
    <li><a href="/#/places">Places</a></li>
  </ul>
  <ul id="signUpWrapper" ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/login">Login</a></li>
    <li><a href="/#/signup">Sign up</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/username"><i class="fa fa-username"></i> {{updateProfile.displayName}}Kelsey</a></li>
    <li><a href="/#/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
    <li><a href="/#/profile"><i class="fa fa-gear"></i> Profile</a></li>
  </ul>
</div>
