<section class="container-fluid">
  <div class="likesWrapper" ng-repeat="item in items">
    <aside class="imageAside">
      <div class="upPhotoInfoWrapper">
        <h4><i class="fa fa-heart"></i></h4>
        <h4>Views: {{item.views}}</h4>
      </div>
      <div class="imgWrapper">
        <img src="{{item.Images[0].url_170x135}}" alt="">
        <!-- <div class="imgFooterWrapper">
          <img src="{{item.Images[i].url_75x75}}" alt="" class="footerImg" ng-repeat="Images in items">
        </div> -->
      </div>
    </aside>
    <aside class="infoAside">
      <div class="infoWrapper">
        <h2><a href="{{item.url}}">{{item.title}}</a></h2>
        <h2 class="favPrice">{{item.price | currency}}{{item.currency_code}}</h2>
        <h4 class="infoMaterials">Materials: {{item.materials.join(', ') }}</h4>
        <h4 class="infoTags">Tags: {{item.tags.join(', ')}}</h4>
      </div>
    </aside>
    <h4 class="infoDescription">Description: {{item.description}}</h4>
  </div>
</section>
