<div class="contain">
  <div class="profileStats">
    <h2 class="declaration" >Declaration of Bar Dependance</h2>
    <div class="iconImage">
      <img src="" alt="">
    </div>
    <div class="barsVisited">Stripes Earned:
    <i class="fa fa-server">level:3</i></div>
  </div>
  <article class="place"  data-id="{{place.id}}" ng-repeat="place in favorites">
      <div class="individualPlaceList">
        <div class="imageTitleWrapper">
        <div class="placeContainer">
          <div class="listImg"> </div>
          <div class="titleHeartWrapper">
            <a id ="placeTitle" class="individualPlace" href="{{place.website}}">{{place.name}}</a>
          </div>
        </div>
        </div>
      <div class="info">
        <div class="address">{{place.address}}</div><br>
        <div class="rating">&#10025 {{place.rating}}</div><br>
        <div class="buttonsWrapper">
          <a href="#/favorites/{{place._id}}"><button class="details">Details</button></a>
          <a><button class="details" ng-click="deleteFavorite(place._id)" >Delete</button></a>
        </div>
      </div>
    </div>
  </article>
</div>
