<div class="contain">
  <!-- <input ng-model="searchAny" class="searchBox" placeholder="Search">
    <div ng-repeat="filter:searchAny">
    </div> -->
<!--   <div class="places"> -->
  <article class="place"  data-id="{{place.id}}" ng-repeat="place in favorites">
        <div class="individualPlaceList">
          <div class="imageTitleWrapper">
          <div class="placeContainer">
            <div class="titleHeartWrapper">
              <a id ="placeTitle" class="individualPlace" href="#/places/detail/{{place.id}}">{{place.name}}</a>
            </div>
          </div>
          </div>
        <div class="info">
          <div class="address">{{place.address}}</div><br>
          <div class="rating">&#10025 {{place.rating}}</div><br>
          <a href="#/places/{{place.id}}"><button class="details">Details</button></a>
        </div>
      </div>
      </div>
    </article>
  </div>
</div>
