$red: #AC0000;
$white: #FFFFFF;
$lightBlue: #C8D3E6;
$mediumBlue: #657FAD;
$darkBlue: #002566;
$text: #333333;
$border: #a3a3a3;

@font-face {
    font-family: ScriptFont;
    src: url('../fonts/lobster-two/LobsterTwo-Italic.otf');
}
@font-face {
    font-family: BoldFont;
    src: url('../fonts/aleo/Aleo-Bold.otf');
}

@import "partials/auth";
@import "partials/header";
/*
@mixin submitButton {
    background-color: $red;
    font-size: 3vmax;
    color: $white;
    border: 3px solid $border;
    font-family: ScriptFont;
    border-radius: 5px;
    &:hover{
      border-color: $darkBlue;
      background-color: $white;
      color: $red;
      transition: ease .3s;
    }
  } */

html {

}

body {
  background:  linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../Images/American-Flag-in-the-Sun.jpg') no-repeat no-repeat fixed;
  background-size:100% 800px;
  width: 100%;

}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: BoldFont;
}

a {
  /* color: #000; */
}

.eagleStare {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.text-muted {
  color: $white;
}

.navbar {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  font-size: 2vmax;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: ScriptFont;
}

.navbar-header {
  padding-left: 15px;
  background-color: $darkBlue;
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $red;
  font-size: 2vmax;
  color: $white;
  font-family: ScriptFont;

}

.navbar-nav {
  float: left;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: $red;


}

.navbar-default .navbar-nav>li>a {
    color: $text;
    text-shadow: 1px 1px 1px white;
    &:hover {
      color: $white;
      text-shadow: 1px 1px 1px $text;
      transition: ease .25s;
    }
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  /* padding: 15px; */
  color: $text;
}

#username {
  font-size: 1vmax;
}

.navbar-default {
  color: $text;
}

.navbar-default .navbar-brand {
  color: $text;
  text-shadow: 2px 2px 1px $white;
  margin: 3%;
}

.navbar-default .navbar-brand:hover {
  color: $mediumBlue;
  text-shadow: 2px 2px 1px $text;
  background-color: #fff;
}

.brandWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  width: 100%;
  height: 80%;
  border-radius: 2px;
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    transition: 0.25s all;
    float: none;
    padding: 0;
    font-size: 3vmax;
    width:100%;
    height: 100%;
    line-height: 33px;
  }
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}

.panel-default > .panel-heading {
  font-size: 85%;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  background-color: #f6f6f6;
  border-color: #cfd9db;
}

.form-control {
  border-radius: 0;
}

.center-form {
  width: 33%;
  margin: 2.5% auto;
}

.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.profile-picture {
  height: 100px;
  display: block;
}

.btn {
  font-weight: bold;
  border-radius: 2px;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26); */
}

.btn-primary {
  /* background-color: #4285f4; */
}

.btn-primary:hover {
  /* background-color: #3367d6; */
}

.btn-success {
  background-color: #0f9d58;
}

.btn-success:hover {
  background-color: #196c4a;
}

.btn-danger {
  background-color: #db4437;
}

.btn-danger:hover {
  background-color: #b04c3b;
}

.btn-group-vertical .btn {
  margin-bottom: 10px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 2px;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 2px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 2px;
}

.btn-lg {
  font-size: 14px;
}

.btn [class^='ion-'] {
  margin-right: 5px;
}

.btn .fa {
  margin-right: 5px;
}
/*********************
  * Stripes page
  *********************/
.profileStats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
  margin: 2%;
  background-color: $darkBlue;
  .declaration {
    width: 100%;
    font-size: 3vmax;
    font-family: ScriptFont;
    color: $white;
    text-shadow: 2px 2px 1px $red;
    text-align: center;
  }
  .barsVisited {
    font-size: 2.5vmax;
    text-shadow: 1px 1px 1px black;
  }
}


/*********************
  * places page
  *********************/
.place {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imageTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%
}
  .individualPlaceList {
    background:  linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/oldpaperbackground.gif') no-repeat no-repeat;
    background-size: 100%;
    border: 2px solid;
    border-color: #AC0000;
    width: 100%;
    border-style: groove;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 2%;
    .titleHeartWrapper {
      width: 50%;
      text-align: center;
      #placeTitle {
        width: 100%;
        font-family: ScriptFont;
        text-align: center;
        margin: 2%;
        font-size: 3.5vmax;

      }
    }
  }

.individualPlaceList {
  background-color: white;
  border: 2px solid;
  border-color: #AC0000;
  width: 100%;
  border-style: groove;
  border-radius: 5px;

}
.individualPlace {
  font-size: 30px;
  display: block;
}
  .info {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .details {
    float: right;
    vertical-align: text-bottom;
    width: 100%;
    color: white;
    background-color: #AC0000;
    transition: .5s;
    border-radius: 5px;
    font-size: 2vmax;
    margin: 1%;
  }

  .details:hover {
    color: #AC0000;
    background-color: white;
    transition: .4s;
    border: none;
  }



   .rating {
    color: #002566;
    display: inline-block;
    font-size: 30px;
    width: 20%;
    text-align: center;
  }

  .address {
    color: #002566;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    width: 60%;
  }

  .addToFavorites {
    color: #002566;
    font-size: 20px;
    display: block;
    width: 100%;
  }

  .addToFavorites:hover {
    text-decoration: none;
    color: #AC0000;
  }

  .placeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .listImg {
    background: url('../Images/beer-icons-pack-free-vector.jpg');
    background-size: 430px;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 2%;
  }

  .individualPlace {
    text-align: center;
    color: #002566;
    font-size: 30px;
  }

/*********************
* Details page
*********************/

.individualPlaceDetails {
  background-color: white;
  border: 2px solid;
  border-color: #AC0000;
  width: 100%;
  border-style: groove;
  border-radius: 5px;
}

.placeDetailContainer {
  margin-left: 20px;
  display: inline-block;
  margin-top: 20px;
}


.placeDetailContainer img {
  height: 400px;
  width: 400px;
  border-radius: 5px;
  display: inline-block;
}

.detailsAddress, .detailsContact, .detailsHoursOfOperation, .detailsHappyHours {
  color: #002566;
}

.individualPlaceDetailTitle {
  color: #002566;
  font-size: 40px;

}

.detailsRating {
  font-size: 25px;

  color: #002566;
}

.addToDetailsFavorites {
  color: #002566;
  font-size: 25px;
/*   margin-left: 135px; */
}

.addToDetailsFavorites:hover{
  text-decoration: none;
  color: #AC0000;
}

.detailsInfo {
  margin-bottom: 30px;
  width: 80%;
  vertical-align: top;
  font-size: 30px;
  display: inline-block;
  text-align: center;
/*   margin-bottom: 200px; */
}

.detailsWebsiteLink {
  color: #002566;
  cursor: pointer;
}

.detailsWebsiteLink:hover {
  text-decoration: none;
  color: #AC0000;
}

.backToPlaces {
display: inline-block;
float: right;
margin-right: 50px;
margin-top: 20px;
  vertical-align: text-bottom;
  width: 100px;
  height: 50px;
  color: white;
  background-color: #AC0000;
  transition: .5s;
  border-radius: 5px;
}

.backToPlaces:hover {
  color: #AC0000;
  background-color: white;
  transition: .4s;
  border: none;
}

.individualComment {
  background-color: white;
  border: 2px solid;
  border-color: #AC0000;
  width: 100%;
  border-style: groove;
  border-radius: 5px;
  list-style-type: none;
  padding: 10px;
}

/*********************
* Reviews Section
*********************/

.reviewsContainer {
  border-top: 2px solid;
  border-color: #AC0000;
  width: 100%;
  border-style: groove;
  text-align: center;

}

.individualReview {
  background-color: white;
  border: 2px solid;
  border-color: #AC0000;
  border-style: groove;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
}

.allReviews, .barsReviews {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.reviews {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

textarea {
  resize: none;
  border-radius: 5px;
  border-color: #AC0000;
  margin-top: 10px;
}

.submit {
  border-radius: 5px;
  border-color: #AC0000;
  background-color: white;
  color: #002566;
  width: 75px;
}

/*********************
* Social Buttons
*********************/

.btn-google-plus {
  color: $text;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: $text;
  background-color: #cb3927;
}

.btn-facebook {
  color: $text;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: $text;
  background-color: #294786;
}

.btn-linkedin {
  color: $text;
  background-color: #007bb6;
  border: 1px solid #0073ae;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  color: $text;
  background-color: #0069a4;
}

.btn-twitter {
  color: $text;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: $text;
  background-color: #0090c7;
}

.btn-foursquare {
  color: $text;
  background-color: #f94877;
  border: 1px solid #f8215a;
}

.btn-foursquare:hover,
.btn-foursquare:focus {
  color: $text;
  background-color: #f71752;
}

.btn-github {
  color: $text;
  background-color: #444;
  border: 1px solid #3b3b3b;
}

.btn-github:hover,
.btn-github:focus {
  color: $text;
  background-color: #303030;
}

.btn-yahoo {
  color: $text;
  background-color: #720e9e;
  border: 1px solid #580b75;
}

.btn-yahoo:hover,
.btn-yahoo:focus {
  color: $text;
  background-color: #303030;
}

.btn-live {
  color: $text;
  background-color: #2672ec;
}

.btn-live:hover,
.btn-live:focus {
  color: $text;
  background-color: #125acd;
}

/*********************
* Animations
*********************/

.fadeZoom.ng-enter {
  animation-duration: 0.2, 0.2s;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-enter {
  animation-duration: 0.2s, 0.2s;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-leave {
  animation: fadeOutDown 0.2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}
.angular-google-map-container {
   height: 400px;
   width: 80%;
  margin-left: 10%;
   }


   .homepage {
     background:  linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/oldpaperbackground.gif') no-repeat no-repeat;
     background-size: 100%;
     border: 2px solid;
     border-color: #AC0000;
     width: 90%;
     border-style: groove;
     text-align: center;
     border-radius: 5px;
     /* display: flex;
     align-items: center;
     flex-wrap: wrap; */
     margin-left: auto;
     margin-right: auto;
     font-family: ScriptFont;
     color: white;
     .titleHeartWrapper {
       width: 50%;
       text-align: center;
       #placeTitle {
         width: 100%;
         font-family: ScriptFont;
         text-align: center;
         margin: 2%;
         font-size: 3.5vmax;

       }
     }
   }
#homeTitle {
color: white;
font-family: ScriptFont;
}

.containTitle {
  text-align: center;
}
.contain {
  font-family: ScriptFont;
}
span {
  font-size: 2em;
  color: white;
  font-family: ScriptFont;
}

#searchBoxParent {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Serif;
  color: black;
}

.pac-container * {
  color: black;
  font-family: Serif;
}

#locateMe {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
